.nav{
    display: flex;
    height: 65px;
    background-color: #abb8c3;
    justify-content: space-around;
    align-items: center;
}
.item{
    display: flex;
    justify-content: space-around;
    width: 450px;
    font-size: 22px;
}
img{
    margin-left: -80px;
    width: 60px;
}
.but button{
    
    height: 22px;
    width: 70px;
    border-radius: 12px;

    background-color: rgb(185, 244, 224);
    margin-left: 10px;
}
.but button:hover{
    background-color: burlywood ;
    /* transition-duration: 1s; */
}
.item p:hover{
    /* color:burlywood ; */
    /* transition-duration: 1s; */
    background-color: burlywood;
}
